.label {
    display: flex;
    font-style: italic;
    align-items: center;
}

.input {
    margin-left: 10px;  
    font-size: large;
    padding: 5px;
}

.addContactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}